<a href="https://colab.research.google.com/github/avi87babu/Python-Basics/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Types and Structures***

---

**1. What are data structures, and why are they important?**
  - Data Structures is way of organizing and storing data so than it can be accessed and manipulated effeciently.

**2.  Explain the difference between mutable and immutable data types with examples?**
*   Mutable data type after creating can be change or modify data is it mutable data type list=[1,2,3,4,"rahul", 75j].
*   Immutable data type after creationg can't be change or modify is it immutable data type a=(1,2,3,4,"rahul", 75j).

**3. What are the main differences between lists and tuples in Python?**
*   List can store heterogenous is an ordered collection of elements that can be of any data type, define by squre brackets "[]" List is mutable data type.
*   Tuples also can store heterogenous data is define by parathinsis "()" Tuples are immutable data type.

**4. Describe how dictionaries store data?**
*     Dictionaries which stores in the form of key value pair define by curly brackets "{}" for Exp. my_dict={}.

**5. Why might you use a set instead of a list in Python?**
*   Because Sets are unordered collections of unique elements and no concept of indexing as Sets are unordered to get unique elements and it is mutable, but list is a indexing oredered collections of elements.

**6. What is a string in Python, and how is it different from a list?**
*   String is a sequence of character represent and manipulate textual data and list is ordered collection of items list is like a shopping bag which can store everything.

**7. How do tuples ensure data integrity in Python**
* Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

**8. What is a hash table, and how does it relate to dictionaries in Python?**
* A hash table is a data structure that stores key-value pairs and Python dictionaries are built using hash tables

**9. Can lists contain different data types in Python?**
* A list contains mix data types in python lik numbers, strings, float, bool,etc. List can store heterogenous is an ordered collection elements.

**10. Explain why strings are immutable in Python?**
* Python strings are immutable which menans cannot change after created.

    a='Avinash'

    a[0]='b'

    Output TypeError: 'str' object does not support item assignment.

**11. What advantages do dictionaries offer over lists for certain tasks?**
* A list when define as a [1,2,3,4] in memories block by defalut indexing of 0 to 3 access value by index number while dictionaries reffered to key names access value by key name.

**12. Describe a scenario where using a tuple would be preferable over a list?**
* Tuples are generally faster and more memory-efficient than lists, making them better for fixed elements like: ID,Adhaar Card etc.

**13. How do sets handle duplicate values in Python?**
* Sets are unordered and unique collection of elements and dosen't allow any duplicat elements, indexing will not work.

**14. How does the “in” keyword work differently for lists and dictionaries?**
* The in keyword is also used in for statements and list comprehensions and also tests for value equality.

  The in keyword is also used in for test for the presence of values or key-value pairs.

**15. Can you modify the elements of a tuple? Explain why or why not?**
* No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; attempting to do so will result in an error.

**16. What is a nested dictionary, and give an example of its use case?**
* Nesting Dictionary means putting a dictionary inside another dictionary.

  d={a1:'avinash',a2:'Kumar',a3:{b1:25,b2:'address'}}

**17. Describe the time complexity of accessing elements in a dictionary**

**18. In what situations are lists preferred over dictionaries?**

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
* Dictionaries are unordered, but from python 3.7 version, dectionaries retain the order of insertion. This means the if you iterate over a dictionaries, the item will be returned in the order they were added.

**20. Explain the difference between a list and a dictionary in terms of data retrieval?**
* A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# ***Practical Questions***

---

**1. Write a code to create a string with your name and print it?**

In [4]:
name='Avinash Babu'
name

'Avinash Babu'

**2. Write a code to find the length of the string "Hello World"?**

In [5]:
a='Hello World'
len(a)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming"?**

In [7]:
a='Python Programming'
a[:3]

'Pyt'

**4. Write a code to convert the string "hello" to uppercase?**

In [9]:
a='hello'
a.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?**

In [10]:
a='I like apple'
a.replace("apple","orange")

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it?**

In [11]:
my_list=[1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]?**

In [15]:
my_list=[1,2,3,4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?**

In [17]:
my_list=[1,2,3,4,5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?**

In [18]:
my_list=['a','b','c','d']
my_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [23]:
my_list=[10,20,30,40,50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]


**11. Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [24]:
tp=(10,20,30)
tp

(10, 20, 30)

**12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

In [25]:
tp=('apple','banana','cherry')
tp[0]

'apple'

**13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [26]:
tp=(1,2,3,2,4,2)
tp.count(2)

3

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [27]:
tp=('dog','cat','rabbit')
tp.index('cat')

1

**15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [28]:
tp=('apple','orange','banana')
'banana'in tp

True

**16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [29]:
st={1,2,3,4,5}
st

{1, 2, 3, 4, 5}

**17. Write a code to add the element 6 to the set {1, 2, 3, 4}.**

In [33]:
st={1, 2, 3, 4}
st.add(6)
st

{1, 2, 3, 4, 6}

**18. Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [34]:
tp=(10,20,30)
tp

(10, 20, 30)

**19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

In [35]:
tp=('apple','banana','cherry')
tp[0]

'apple'

**20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [36]:
tp=(1,2,3,2,4,2)
tp.count(2)

3

**21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [37]:
tp=('dog','cat','rabbit')
tp.index('cat')

1

**22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [38]:
tp=('apple','orange','banana')
'banana'in tp

True

**23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [39]:
st={1,2,3,4,5}
st

{1, 2, 3, 4, 5}

**24. Write a code to add the element 6 to the set {1, 2, 3, 4}.**

In [40]:
st={1, 2, 3, 4}
st.add(6)
st

{1, 2, 3, 4, 6}